<div class="main-wrapper" style="padding-top: 5%;">
    <div class="content">
        <div class="container-fluid">
            
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    
                    <!-- Login Tab Content -->
                    <div class="account-content">
                        <div class="row align-items-center justify-content-center">
                            <div class="col-md-7 col-lg-6 login-left">
                                <img src="assets/img/login-banner.png" class="img-fluid" alt="Doccure Login">	
                            </div>
                            <div class="col-md-12 col-lg-6 login-right">
                                <div class="login-header">
                                    <h3>Registro de especialista </h3>
                                </div>
                                <form (ngSubmit)="specialistRegister()" [formGroup]="registerForm">
                                    <div class="mb-3">
                                        <label class="form-label">Nombre completo</label>
                                        <input type="text" class="form-control" formControlName="name" id="name" name="name" placeholder="Ingrese su nombre completo" required>
                                        <div *ngIf="registerForm.get('name')?.touched && registerForm.get('name')?.invalid" class="text-danger">
                                            El nombre es requerido
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <label class="form-label">Correo</label>
                                        <input class="form-control group_formcontrol form-control-email" id="email" name="email" type="email" formControlName="email" placeholder="Ingrese su correo" required>
                                        <div *ngIf="registerForm.get('email')?.touched && registerForm.get('email')?.invalid" class="text-danger">
                                            <div *ngIf="registerForm.get('email')?.errors?.['required']">El correo es requerido</div>
                                            <div *ngIf="registerForm.get('email')?.errors?.['email']">Ingrese un correo válido</div>
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <div class="form-group-flex">
                                            <label class="form-label">Contraseña</label>
                                        </div>
                                        <div class="pass-group">
                                            <input [type]="passwordVisible ? 'text' : 'password'" class="form-control pass-input" formControlName="password" id="password" name="password" placeholder="Ingrese su contraseña" required>
                                            <span class="toggle-password" (click)="togglePasswordVisibility('password')">
                                                <i [class]="passwordVisible ? 'feather-eye' : 'feather-eye-off'"></i>
                                            </span>
                                        </div>
                                        <div *ngIf="registerForm.get('password')?.touched && registerForm.get('password')?.invalid" class="text-danger">
                                            <div *ngIf="registerForm.get('password')?.errors?.['required']">La contraseña es requerida</div>
                                            <div *ngIf="registerForm.get('password')?.errors?.['minlength']">La contraseña debe tener al menos 6 caracteres</div>
                                        </div>
                                        <div class="form-group-flex">
                                            <label class="form-label">Confirmar contraseña</label>
                                        </div>
                                        <div class="pass-group">
                                            <input [type]="cpasswordVisible ? 'text' : 'password'" class="form-control pass-input" formControlName="cpassword" id="cpassword" name="cpassword" placeholder="Confirme su contraseña" required>
                                            <span class="toggle-password" (click)="togglePasswordVisibility('cpassword')">
                                                <i [class]="cpasswordVisible ? 'feather-eye' : 'feather-eye-off'"></i>
                                            </span>
                                        </div>
                                        <div *ngIf="registerForm.get('cpassword')?.touched && registerForm.get('cpassword')?.invalid" class="text-danger">
                                            La confirmación de contraseña es requerida
                                        </div>

                                        <div class="col-lg-12 col-md-12 col-sm-12 form-group">
                                            <div class="custom-check-box">
                                                <div class="custom-controls-stacked">
                                                    <label class="custom-control material-checkbox">
                                                        <input type="checkbox" class="material-control-input" formControlName="terms" required>
                                                        <span class="material-control-indicator"></span>
                                                        <span class="description">Por favor, acepte los <a href="">terminos y condiciones</a> y la <a href="">política de privacidad</a></span>
                                                        <div *ngIf="registerForm.get('terms')?.touched && registerForm.get('terms')?.invalid" class="text-danger">
                                                            Debe aceptar los términos y condiciones para continuar
                                                        </div>
                                                    </label>
                                                </div>
                                            </div>
                                        </div> 
                                    </div>
                                    <div class="mb-3">
                                        <div *ngIf="errorMessage" class="alert alert-danger mb-3">
                                            {{ errorMessage }}
                                        </div>
                                        <button class="btn btn-primary-gradient w-100" type="submit" [disabled]="loading || !registerForm.valid">  
                                            {{ loading ? 'Solicitando registro' : 'Registrarse' }}
                                            <i [hidden]="loading" class="icon-Arrow-Right"></i>
                                            <img [hidden]="!loading" src="assets/imag/loader.gif" width="40" alt="Registrando" />
                                        </button>
                                       
                                    </div>
                                    <div class="login-or">
                                        <span class="or-line"></span>
                                        <span class="span-or">O</span>
                                    </div>
                                   
                                    <div class="account-signup">
                                        <p>Ya tienes cuenta? <a (click)="global.setRoute('login')">Ingresar</a></p>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- /Login Tab Content -->
                        
                </div>
            </div>

        </div>

    </div>
</div>