

  <header class="header header-custom header-fixed inner-header relative">
    <div class="container">
      <nav class="navbar navbar-expand-lg header-nav">
        <div class="navbar-header">
          <a id="mobile_btn"  (click)="toggleMobileMenu()">
            <span class="bar-icon">
              <span></span>
              <span></span>
              <span></span>
            </span>
          </a>
          <a (click)="global.setRoute('home')" class="navbar-brand logo">
            <img src="assets/img/logo-3.png" class="img-fluid" alt="Logo">
          </a>
        </div>
        <div class="header-menu" [class.show-menu]="isMobileMenuOpen">
          <div class="mobile-menu-overlay" [class.show]="isMobileMenuOpen" (click)="closeMobileMenu()"></div>
          <div class="main-menu-wrapper">
            <div class="menu-header">
              <a (click)="global.setRoute('home')" class="menu-logo">
                <img src="assets/img/logo-3.png" class="img-fluid" alt="Logo">
              </a>
              <a id="menu_close" class="menu-close"  (click)="closeMobileMenu()">
                <i class="fas fa-times"></i>
              </a>
            </div>
            <ul class="main-nav">
              <li class="has-submenu megamenu active" *ngIf="!auth.isLogin()">
                <a (click)="global.setRoute('home'); closeMobileMenu()">Inicio </a>
              </li>
              <li class="has-submenu" *ngIf="!auth.isLogin()">
                <a (click)="global.setRoute('professionals'); closeMobileMenu()" >Especialistas <i class="fas fa-user-md"></i></a>
              </li>
              <li class="has-submenu megamenu active" *ngIf="!auth.isLogin()">
                <a (click)="global.setRoute('contact'); closeMobileMenu()">Contacto </a>
              </li>
            </ul>
          </div>
          <ul class="nav header-navbar-rht">
            <li class="searchbar" *ngIf="!auth.isLogin()">
              <a><i class="feather-search"></i></a>
              <div class="togglesearch">
                <form >
                  <div class="input-group">
                    <input type="text" class="form-control">
                    <button type="submit" class="btn">Buscar especialista</button>
                  </div>
                </form>
              </div>
            </li>
            <li *ngIf="!auth.isLogin()">
              <a (click)="global.setRoute('login'); closeMobileMenu()"  [hidden]="global.activeRoute === 'login'" class="btn btn-md btn-primary-gradient d-inline-flex align-items-center rounded-pill"><i class="isax isax-lock-1 me-1"></i>Ingresa</a>
            </li>
            <li *ngIf="!auth.isLogin()">
              <a (click)="global.setRoute('register'); closeMobileMenu()" [hidden]="global.activeRoute === 'register'" class="btn btn-md btn-dark d-inline-flex align-items-center rounded-pill">
                <i class="isax isax-user-tick me-1"></i>Registrate
              </a>
            </li>
            <li *ngIf="auth.isLogin()">
              <a (click)="logoutUser()" class="btn btn-md btn-primary-gradient d-inline-flex align-items-center rounded-pill"><i class="isax isax-lock-1 me-1"></i>Cerrar sesión</a>
            </li>
           
          </ul>
        </div>
      </nav>
    </div>
  </header>
  <!-- /Header -->
