<div class="content doctor-content" style="padding-top: 10%;">
    <div class="container">

        <div class="row">
            <div class="col-lg-4 col-xl-3 theiaStickySidebar">
                
                <!-- Profile Sidebar -->
                <div class="profile-sidebar doctor-sidebar profile-sidebar-new">
                    <div class="widget-profile pro-widget-content">
                        <div class="profile-info-widget">
                            <a class="booking-doc-img">
                                <img [src]="auth.getImage()" alt="imagen de perfil" />
                            </a>
                            <div class="profile-det-info">
                                <p>Bienvenido(a) a tu panel de control</p>
                                <h3>{{global.professionalInfo.name}}</h3>
                                <div class="patient-details">
                                    <h5 class="mb-0">{{global.professionalInfo.phone}}</h5>
                                </div>
                                <span class="badge doctor-role-badge"><i class="fa-solid fa-circle"></i>.</span>
                            </div>
                        </div>
                    </div>
                    <div class="doctor-available-head">
                        <div class="input-block input-block-new">
                            <label class="form-label">Disponibilidad <span class="text-danger">*</span></label>
                            <select class="select form-control">
                                <option>Disponible</option>
                                <option>No disponible</option>
                            </select>
                        </div>
                    </div>
                    <div class="dashboard-widget">
                        <nav class="dashboard-menu">
                            <ul>
                                <li>
                                    <a >
                                        <i class="isax isax-profile-tick"></i>
                                        <span>Cuenta</span>
                                    </a>
                                </li>
                                <li class="active">
                                    <a >
                                        <i class="isax isax-setting-2"></i>
                                        <span>Configuración del perfil</span>
                                    </a>
                                </li>
                                <li>
                                    <a >
                                        <i class="isax isax-star-1"></i>
                                        <span>Reseñas</span>
                                    </a>
                                </li>
                                <!-- <li>
                                    <a (click)="auth.logout()">
                                        <i class="isax isax-logout"></i>
                                        <span>Cerrar sesión</span>
                                    </a>
                                </li> -->
                            </ul>
                        </nav>
                    </div>
                </div>
                <!-- /Profile Sidebar -->							
                
            </div>
            <div class="col-lg-8 col-xl-9">
            
                <!-- Profile Settings -->
                <div class="dashboard-header">
                    <h3>Ajustes del perfil</h3>
                </div>

                <!-- Settings List -->
                <div class="setting-tab">
                    <div class="appointment-tabs">
                        <ul class="nav">
                            <li class="nav-item">
                                <a class="nav-link active" href="#personal">Datos personales</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#professional">Datos profesionales</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#academic">Formación academica</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#attent">Tipo de atención</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- /Settings List -->

                <div class="setting-title">
                    <h5>Perfil</h5>
                </div>

                <form id="personal">
                    <div class="setting-card">
                        <div class="change-avatar img-upload">
                            <div class="profile-img">
                                <i class="fa-solid fa-file-image"></i>
                            </div>
                            <div class="upload-img">
                                <h5>Imagen de perfil</h5>
                                <div class="imgs-load d-flex align-items-center">
                                    <div class="change-photo">
                                        Upload New 
                                        <input type="file" class="upload">
                                    </div>
                                    <a href="#" class="upload-remove">Remove</a>
                                </div>
                                <p class="form-text">Your Image should Below 4 MB, Accepted format jpg,png,svg</p>
                            </div>	
                            <div class="profile-title">
                                <figure class="image-box">
                                    <img [src]="auth.getImage()" alt="Profile Image" />
                                </figure>
                                <div class="upload-photo">
                                    <input type="file" (change)="onFileSelected($event)" accept="image/*" #fileInput
                                        hidden />
                                    <a (click)="openFileSelector()" style="cursor: pointer;"><i
                                            class="icon-Upload"></i>Cargar imagen</a>
                                    <span>Formato JPG, GIF o PNG. Max 2MB</span>
                                </div>
                            </div>		
                        </div>			
                    </div>
                    <div class="setting-title">
                        <h5>Información personal</h5>
                    </div>
                    <div class="setting-card">
                        <div class="row">
                            <div class="col-lg-4 col-md-6">
                                <div class="form-wrap">
                                    <label class="form-label">Nombre y Apellido <span class="text-danger">*</span></label>
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="form-wrap">
                                    <label class="form-label">Nombre de usuario <span class="text-danger">*</span></label>
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="form-wrap">
                                    <label class="form-label">Rut <span class="text-danger">*</span></label>
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                           
                            <div class="col-lg-4 col-md-6">
                                <div class="form-wrap">
                                    <label class="form-label">Sitio web <span class="text-danger">*</span></label>
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="form-wrap">
                                    <label class="form-label">Teléfono / Whatsapp <span class="text-danger">*</span></label>
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="form-wrap">
                                    <label class="form-label">Correo <span class="text-danger">*</span></label>
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="form-wrap">
                                    <label class="form-label">Género <span class="text-danger">*</span></label>
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="form-wrap">
                                    <label class="form-label">Fecha de nacimiento <span class="text-danger">*</span></label>
                                    <input type="date" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-btn text-end">
                        <a href="#" class="btn btn-gray">Cancelar</a>
                        <button type="submit" class="btn btn-primary prime-btn">Guardar</button>
                    </div>

                </form>
                <!-- /Profile Settings -->
                
            </div>
        </div>
    </div>
</div>	