<router-outlet></router-outlet>
<app-header></app-header>

<app-home [hidden]="global.activeRoute!='home'"></app-home>
<app-login [hidden]="global.activeRoute!='login'"></app-login>
<app-register [hidden]="global.activeRoute!='register'"></app-register>
<app-professionals [hidden]="global.activeRoute!='professionals'"></app-professionals>
<app-detail-professional [hidden]="global.activeRoute!='detail-professional'"></app-detail-professional>
<app-contact [hidden]="global.activeRoute!='contact'"></app-contact>
<app-dashboard-home [hidden]="global.activeRoute!='dashboard-professional/home'"></app-dashboard-home>
<app-footer></app-footer>

<!-- Cursor -->
<div class="mouse-cursor cursor-outer" style="visibility: visible; transform: translate(1417px, 290px);"></div>
<div class="mouse-cursor cursor-inner" style="visibility: visible; transform: translate(1417px, 290px);"></div>
<!-- /Cursor -->
