<!-- Footer Section -->
<footer class="footer inner-footer footer-info">
    <div class="footer-top">
      <div class="container">
        <div class="row">
          <div class="col-lg-8">
            <div class="row">
              <div class="col-lg-4 col-md-4">
                <div class="footer-widget footer-menu">
                  <h6 class="footer-title">Red Psicologos Chile</h6>
                  <ul>
                    <li><a>  Aplicación diseñada para psicólogos y especialistas de salud mental.
                      Somos directorio online en todo Chile, busquedas avanzadas, registro 100% gratis.</a></li>
                   
                  </ul>
                </div>
              </div>
              <div class="col-lg-4 col-md-4">
                <div class="footer-widget footer-menu">
                  <h6 class="footer-title">Eres especialista</h6>
                  <ul>
                    <li><a (click)="global.setRoute('register')">Regístrate</a></li>
                    <li><a (click)="global.setRoute('login')">Ingresa</a></li>
                    <li><a >Obten tu plan Plus</a></li>
                  </ul>
                </div>
              </div>
              <div class="col-lg-4 col-md-4">
                <div class="footer-widget footer-menu">
                  <h6 class="footer-title">Eres paciente</h6>
                  <ul>
                    <li><a>Consulta a especialistas</a></li>
                    
                  </ul>
                </div>
              </div>
             
            </div>
          </div>
          <div class="col-lg-4 col-md-7">
            <div class="footer-widget">
              <h6 class="footer-title">Siguenos</h6>
              <p class="mb-2">Síguenos en las redes sociales</p>
              
              <div class="social-icon">
                <ul>
                  <li>
                    <a href="https://www.instagram.com/redpsicologos_cl/?igsh=dDJoMGM4MGVvNWk0&utm_source=qr" target="_blank"><i class="fa-brands fa-instagram"></i></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-bg">
        <img src="assets/img/bg/footer-bg-01.png" alt="img" class="footer-bg-01">
        <img src="assets/img/bg/footer-bg-02.png" alt="img" class="footer-bg-02">
        <img src="assets/img/bg/footer-bg-03.png" alt="img" class="footer-bg-03">
        <img src="assets/img/bg/footer-bg-04.png" alt="img" class="footer-bg-04">
        <img src="assets/img/bg/footer-bg-05.png" alt="img" class="footer-bg-05">
      </div>
    </div>
    <div class="footer-bottom">
      <div class="container">
        <!-- Copyright -->
        <div class="copyright">
          <div class="copyright-text">
            <p class="mb-0">Copyright © 2025 Red Psicologos. Todos los derechos reservados</p>
          </div>
          <!-- Copyright Menu -->
          <div class="copyright-menu">
            <ul class="policy-menu">
              <li><a >Aviso Legal</a></li>
              <li><a >Política de Privacidad</a></li>
              <li><a >Términos y Condiciones</a></li>
            </ul>
          </div>
          <!-- /Copyright Menu -->
        
        </div>
        <!-- /Copyright -->					
      </div>
    </div>
  </footer>
  <!-- /Footer Section -->
  